fastapi
uvicorn
python-dotenv
pymongo
python-multipart
speechrecognition
numpy
soundfile
geopy
twilio
requests
email-validator
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyjwt
pydantic-settings
python-jose[cryptography]
pydub